<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="luyuan.com.exhibition">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Required -->
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        tools:replace="android:icon"
        android:testOnly="false"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="luyuan.com.exhibition.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.CompanyListActivity"></activity>
        <activity android:name=".ui.activity.CompanyDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            ></activity>
        <activity android:name=".ui.activity.MyPageActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            ></activity>
        <activity android:name=".ui.activity.ApplyExhibitionActivity"></activity>
        <activity android:name=".ui.activity.AddProductActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            ></activity>
        <activity android:name=".ui.activity.SettingActivity"></activity>
        <activity android:name=".ui.activity.ManageProductActivity"></activity>
        <activity android:name=".ui.activity.MyInfomationActivity"></activity>
        <activity android:name=".ui.activity.LoginPasswordActivity"></activity>
        <activity android:name=".ui.activity.RegistActivity"></activity>
        <activity android:name=".ui.activity.LoginYanZhengMaActivity"></activity>
        <activity android:name=".ui.activity.ModifyNicknameActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            ></activity>
        <activity android:name=".ui.activity.ClipImageActivity"></activity>
        <activity android:name=".ui.activity.ProductDetailActivity"></activity>
        <activity android:name=".ui.activity.ChatActivity"></activity>
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"></activity>
        <activity android:name=".ui.activity.VoiceCallActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".ui.activity.ServiceCompanyActivity"></activity>
        <activity android:name=".ui.activity.ServiceExhibitionActivity"></activity>
        <activity android:name=".ui.activity.ModifyAddressActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            ></activity>
        <activity android:name=".ui.activity.ModifyPhoneActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            ></activity>
        <activity android:name=".ui.activity.ModifyEmailActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            ></activity>
        <activity android:name=".ui.activity.CategoryActivity"></activity>
        <activity android:name=".ui.activity.CategoryTwoAvtivity"></activity>
        <!---->
         <!--设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1158180523146355#zhaunhui" />

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="j7Puqhm4SGGBpvuGNY1QkyGKsGQGDqGx" />

    </application>

</manifest>